# Hello , This is a python crash course

### Lets get started
1. Python is a Dynamic language ( everything in this language is dynamic, we dont have to specify data types as of C/C++/Java)
2. It is an Interpreted Language (line by line execution)
3. It is a human-readable language.
4. Easily understandable|Less complex.
5. Indentations need to be checked While writing Loops|Functions|Classes etc.

###### Python is as simple as asking someone to do something.
###### Lets see what we can do with python.
###### Getting Started with the Print()


# Printing Numbers : int:123,float:2.6

In [7]:
print(123)

123

In [14]:
print(2.6)

2.6

# Python Arithmetic Operators

In [16]:
print(10+2) #Add
print(10-2) #Subtract
print(10*2) #Multiply
print(10/2) #Divide returns Quotient
print(10%2) #Divide returns Remainder
print(10**2) #Power

12
8
20
5.0
0
100

# Variables and Assignments

######    "Variables store Information that we can use in our programs"
###### "Assignment operator '=' is used to assign any value to the variables"

In [10]:
#Storing some Integer and Float values in a variable and calling print()

int_value = 21        #int_value is a variable to which we have assigned an integer
float_value = 83.7    #float_value is a variable for floating point numbers

print(int_value)
print(float_value)

21
83.7

   # Strings

###### In PYTHON , a single alphabet of the collection of alphabets are considered as a STRING.
###### Lets try how it works :    
###### Anything you write inside "" will become as String

In [7]:
print("Hello World") #hello world is a string in here

#we can check the type by using the predefined method type()
print(type("Hello World"))

#we can also write a multi-line string
ML_String = '''This is my first string line.
This is second and,
This is my last. '''

print(ML_String)

Hello World
<class 'str'>
This is my first string line.
This is second and,
This is my last.

In [12]:
string_value = "Hello This is my First Python Notebook"

print(string_value)

Hello This is my First Python Notebook

# Lets Learn about Indexing,String Literals and Slicing

In [34]:
s = "HelloWorld"

#string[start:stop:stepover|jump|skip]

#print H from the string s
print(s[0])

#print W from the string s
print(s[5])

H
W

In [20]:
#print d from the string s
print(s[9])
print(s[-1]) #we can also traverse in a reverse manner

d
d

In [21]:
#print the slice loW 
print(s[3:6])

loW

In [37]:
#print from W to end
print(s[5:])

#print from 0 to 9 by skipping the next
print(s[0:10:2])

World
Hlool

In [44]:
#print the length of the string
print(len(s))   #length is a predefined function in python

10

# String Concatenation

In [12]:
#By using + operator we can concat the strings

print("Bye "+"World") #shortcut


first = "Hello "
second = "World"

concat = first + second #concatination
print(concat)

Bye World
Hello World

In [11]:
#Lets see if we can use numbers as a string

name = 'Fahad'
age = '23'

concat = 'Hello '+name +', I got to know that you are '+age +' now.'
print(concat)

Hello Fahad, I got to know that you are 23 now.

# Escape Sequence

In [15]:
#This comes into play whenever we are using apostrophe in a string : "john's pet is "kind of" a crazy"

print("john's pet is "kind of" a crazy") #you see here we can't get everything as a string

In [16]:
#To overcome this we use back_slash "\" this will tell the interpreter that ,the next thing to it is also a string'''

print("john's pet is \"kind of\" a crazy")

john's pet is "kind of" a crazy

# Type Conversion

In [22]:
#We can convert the data types from any to any.

#From Int to Float
print(float(5))         #It will add a value equal to zero after decimal point

#From Float to Int
print(int(7.8))         #It will convert & print only the value before decimal point

#From Int to Str
print(str(20))          #It will convert the Integer to String

#lets check the type
print(type(str(20)))   #we can see here int is converted to str

5.0
7
20
<class 'str'>

# Formatted Strings

In [31]:
#Formatting is done when you access the data dynamically using certain methods

name = 'Fahad'
age = 23

#using + operator
print('my name is '+name +' and i\'m '+str(age) +' years old')  #type conversion is used

#using the f string
print(f'my name is {name} and i\'m {age} years old')

#using the .format method
print('my name is {} and i\'m {} years old'.format(name,age))

#make sure we are maintaning the sequence

print('my name is {0} and i\'m {1} years old'.format(name,age))

my name is Fahad and i'm 23 years old
my name is Fahad and i'm 23 years old
my name is Fahad and i'm 23 years old
my name is Fahad and i'm 23 years old

# Immutability

In [48]:
#Strings are immutable, it can't be changed once it is created
test = "HelloThere"

test[0] = 'Y' #we get 'str' object doesn't support assignment error

In [49]:
#we can replace the existing string with a new one, but can't modify.

test = 'zelloThere'
print(test)

zelloThere

# Boolean

In [57]:
#Boolean is just a 0 and 1 (or) a True and False

is_fahad_male = True

is_fahad_female = False

print(is_fahad_male)
print("\n")
print(is_fahad_female)

True


False

# Python Data Structures

In [60]:
#(1. List 2. Tuple 3. Sets 4. Dictionary)

In [61]:
# Lets get started.

#All these Data Structures are the collection of different types of data
#They differ from each other in there appearance and functionality

#1. LIST        :  ORDERED , CHANGEABLE , CAN CONTAIN DUPLICATES    [data]
#2. TUPLE       :  ORDERED , UNCHANGEABLE , CAN CONTAIN DUPLICATES  (data)
#3. SETS        :  UNORDERED, UNINDEXED , NO DUPLICATES             {data} 
#4. DICTIONARY  :  UNORDERED, CHANGEABLE , NO DUPLICATES            {key:value}

# Lists

In [62]:
#1. LIST : ORDERED , CHANGEABLE , CAN CONTAIN DUPLICATES    [data]

#Creating a List
this_list = ['apple','banana',5,456,'orange']

print(this_list)

['apple', 'banana', 5, 456, 'orange']

In [64]:
#Accessing Items

#print second item in the list
print(this_list[1]) #indexes starts with 0

#print the last item
print(this_list[-1])

banana
orange

In [71]:
#Change Banana to Grapes

this_list[1] = 'Grapes'
print(this_list)

#length of the list
print(len(this_list))

['apple', 'Grapes', 5, 456, 'orange']
5

In [84]:
#Skip these blocks if you aren't aware of conditional statements, come back after it is being discussed.

#print the list items one after another (iteration)

this_list = ['apple','banana',5,456,'orange']

for items in this_list:
    print(items)

apple
banana
5
456
orange

In [79]:
#check if item exists (5)

if 5 in this_list:
    print("exists")
else:
    print("doesnt exist")

#check if hello exists
if 'hello' in this_list:
    print("exists")
else:
    print("doesnt exist")

exists
doesnt exist

# list methods

In [85]:

#add items to the list .append()
this_list.append('book')
print(this_list)

#remove item from the list .remove()
this_list.remove('banana')
print(this_list)

#pop using index .pop()
this_list.pop(3)
print(this_list)

#del can also be used to remove from the specified index
del this_list[1]
print(this_list)

#clear() method to empty the list
this_list.clear()
print(this_list)

#del will delete the list
del this_list
#if we print(this_list) we will get the NameEror : name 'this_list' is not defined

['apple', 'banana', 5, 456, 'orange', 'book']
['apple', 5, 456, 'orange', 'book']
['apple', 5, 456, 'book']
['apple', 456, 'book']
[]

# Constructor

In [95]:
#To create a list using the list() constructor
new_list = list(('apple', 'banana', 5, 456, 'orange', 'book'))
print(new_list)
print("\n")

#Creating list with the range() method
lisst = list(range(0,101)) #range(start,stop,skip) in stop it will not include that specific no. like 101
print(lisst)

['apple', 'banana', 5, 456, 'orange', 'book']


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

# Join Method()

In [97]:
#join() method
empty_sentence = ' '
sentence = empty_sentence.join(['hi','my','name','is','fahad'])
print(sentence, "\n")

#another way
sentence = ' :) '.join(['hello','welcome','to','the','python','CrashCourse']) 
#any thing in that quotes ' ' will be appended to every element in the list
print(sentence)

hi my name is fahad

hello :) welcome :) to :) the :) python :) CrashCourse

# Matrix

In [103]:
#Matrix
matrix = [    #This is a list of lists
    [1,2,3],  # 0 index
    [4,5,6],  #index 1
    [7,8,9]   #index 2
]
print(matrix,"\n")

#How to get the number 5 from the matrix
print(matrix[1][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

5

# List Unpacking

In [109]:
a,b,c = [1,2,3]  #each element is assigned to a variable

print(a)
print(b)
print(c,'\n')

a,b,c, *rest = [1,2,3,4,5,6,7,8]   #all the remaining values are assigned to *rest

print(a)
print(b)
print(c)
print(rest,'\n')

a,b,c,*rest,d = [1,2,3,4,5,6,7,8] #the last value will be assigned to d

print(a)
print(b)
print(c)
print(rest)
print(d)

1
2
3

1
2
3
[4, 5, 6, 7, 8]

1
2
3
[4, 5, 6, 7]
8

In [ ]:
#some useful list methods
insert()
update()
reverse()
sort()
count()
extend()
index()
copy()
sorted()

# Tuple

In [89]:
#2. TUPLE  :  ORDERED , UNCHANGEABLE , CAN CONTAIN DUPLICATES  (data)

#TUPLE and LISTS are almost similar

#Creating a Tuple
this_tuple = ('apple','banana',5,456,'orange')

print(this_tuple)

('apple', 'banana', 5, 456, 'orange')

In [90]:
#Accessing Items

#print second item in the Tuple
print(this_tuple[1]) #indexes starts with 0

#print the last Tuple
print(this_tuple[-1])

banana
orange

In [93]:
#In tuples we cannot modify the items (append,del,remove)

#length of the tuple
print(len(this_tuple))

5

# Tuple methods

In [114]:
#Tuple has two useful methods (count & index)

tupple = (1,2,3,4,5,6,7,8,5,4,3)

#count() method
print(tupple.count(4))  #to check how many 4 are there in the tuple

#index() method
print((tupple.index(4)))  #retrieving the value at index 4

2
3

# Tuple Unpacking

In [116]:
#It is almost similar to that of list unpacking

a,b,c = (1,2,3)  #each element is assigned to a variable

print(a)
print(b)
print(c,'\n')

a,b,c, *rest = (1,2,3,4,5,6,7,8)   #all the remaining values are assigned to *rest

print(a)
print(b)
print(c)
print(rest,'\n')

a,b,c,*rest,d = (1,2,3,4,5,6,7,8) #the last value will be assigned to d

print(a)
print(b)
print(c)
print(rest)
print(d)

1
2
3

1
2
3
[4, 5, 6, 7, 8]

1
2
3
[4, 5, 6, 7]
8

# Sets

In [124]:
#3. SETS : UNORDERED, UNINDEXED , NO DUPLICATES     {data}

my_set = {1,2,3,4,5,6,7,8}

print(my_set)

#adding items to set
my_set.add(9)
my_set.add(8)   #This value will not be added as it is already there #no duplicates
print(my_set)

#copying the set
new_set = my_set.copy()
print(new_set)           #set is copied to the new

#Creating a set using list
my_list = ['hello',5,'welcome','world',848]

my_set = set(my_list)
print(my_set)

#clear() method
my_set.clear()
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{'welcome', 5, 'hello', 848, 'world'}
set()

# Specific Set methods

In [145]:
my_set   = {1,2,3,4,5}
your_set = {4,5,6,7,8}

#union() method
union = my_set.union(your_set)#it concat both the sets
my_set | your_set  #can also be written like this
print(union)

#differece() method
difference = my_set.difference(your_set)#It will remove the common items in both sets
difference = my_set-your_set #it can also be written like this
print(difference)

#difference_update() method
my_set.difference_update(your_set) #Here my_set is updated to {1,2,3} it's no more the old one.
print(my_set)

my_set   = {1,2,3,4,5}

#intersection() method
intersection = my_set.intersection(your_set) #it will return the items that are common in both sets
my_set & your_set  #can also be written like this
print(intersection)

my_set   = {4,5}
#issubset() method
print(my_set.issubset(your_set)) #it checks whether the entire setA is present in setB

#issuperset() method
print(your_set.issuperset(my_set)) #it checks whether the setA has the items that setB contains.

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{1, 2, 3}
{4, 5}
True
True

# Dictionary

In [52]:
#4. DICTIONARY  :  UNORDERED, CHANGEABLE , NO DUPLICATES            {key:value}

#Dictionary is the key-value pair

#Creating a dictionary      
Dict = {'name' : 'Fahad',         #left side is considered to be the key and the right side as value
        'age'  : 23,
        'profession' : 'Student',
        'city' : 'Hyderabad'
       }
print(Dict)

{'name': 'Fahad', 'age': 23, 'profession': 'Student', 'city': 'Hyderabad'}

In [45]:
#Accessing data from the dictionary

#getting values using keys
print(Dict['name'])    #will print the values that this keys has.
print(Dict['city'])

Fahad
Hyderabad

# Dictionary Methods

In [54]:
#Printing Dictionary items
print(Dict.items())             #both the keys and values will be printed
print('\n')

#Printing Dictionary keys
print(Dict.keys())              #it will print the keys
print('\n')

#Printing Values
print(Dict.values())     #it will print the values
print('\n')

#Accessing data using get() method
print(Dict.get('age'))

print(Dict.get('city'))

print(Dict.get('country')) #here instead of getting an error we get none.It means there is no country key,which we can create.

#Calling a default value for the key
print(Dict.get('country','India'))

#Copy() method
new_dict = Dict.copy()   #dictionary is copied to new_dict variable
print(new_dict)
print('\n')

#pop() method
pop = Dict.pop('age')             #age is deleted from the dictionary
print(f'age is popped',Dict)
print('\n')

#update() method
update = Dict.update({'age':23})   #a new key value pair will be added
print(f'age is updated',Dict)

dict_items([('name', 'Fahad'), ('age', 23), ('profession', 'Student'), ('city', 'Hyderabad')])


dict_keys(['name', 'age', 'profession', 'city'])


dict_values(['Fahad', 23, 'Student', 'Hyderabad'])


23
Hyderabad
None
India
{'name': 'Fahad', 'age': 23, 'profession': 'Student', 'city': 'Hyderabad'}


age is popped {'name': 'Fahad', 'profession': 'Student', 'city': 'Hyderabad'}


age is updated {'name': 'Fahad', 'profession': 'Student', 'city': 'Hyderabad', 'age': 23}

# Iterating .items(), .keys(), .values()

In [65]:
#iterating the items() method

for items in Dict.items():
    print(items)
print('\n')
    
for keys in Dict.keys():
    print(keys)
print('\n')
    
for values in Dict.values():
    print(values)

('name', 'Fahad')
('profession', 'Student')
('city', 'Hyderabad')
('age', 23)


name
profession
city
age


Fahad
Student
Hyderabad
23

# Constructor

In [74]:
#Creating a dictionary using dict()

Dict_new = dict(name = 'fahad',
                age  =  23,
                city = 'Hyderabad',
                country = 'INDIA'
               )
print(Dict_new)
print('\n')

#You can also create dictionaries like below:
complex_dict = { 'list' : [1,2,3],
                12345  : 'numbers',
                True   : 'bool True',
    
}

print(complex_dict)
print('\n')

#Accesing data from above dict

#print 2 from list in the dictionary
print(complex_dict['list'][1])
print('\n')
print(complex_dict[True])

{'name': 'fahad', 'age': 23, 'city': 'Hyderabad', 'country': 'INDIA'}


{'list': [1, 2, 3], 12345: 'numbers', True: 'bool True'}


2


bool True

# Great Work!


#### This is the End of the Python Crash Course Part 1. Take a break if you want, will see you in the next Part. 

#### Till then practice everything you've learned till now.


# Good Bye ;)